body {
	margin: 0;
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
	font-size: 15px;
	/*background: #83b4a5;*/
	background: #5F9E8A;
	overflow-y: scroll;
}

canvas {
  width: 100%;
  height: 100%;
}

#container-blur {
	transition: filter 0.1s;
}

#container-blur.active {
	-webkit-filter: blur(2px);
	-ms-filter: blur(2px);
	filter: blur(2px);
	-moz-filter: blur(2px);
	-o-filter: blur(2px);
}

.body-bg-tile {
	background-image: url('../img/assets/grunge_wall.png');
	position: fixed;
	right: 0; left: 0; top: 0; bottom: 0;
	opacity: 0.3;
	z-index: 1;
	/*animation: bodyBgTileFade 1s;*/
	/*animation-fill-mode: forwards;*/
}

@keyframes bodyBgTileFade {
	from { opacity: 0; }
	to { opacity: 0.3; }
}

#loader {
	position: fixed;
	text-align: center;
	opacity: 1;
	transition: opacity 0.2s;
	top: 50%;
	transform: translateY(-50%);
	right: 0;
	left: 0;
	margin-right: auto;
	margin-left: auto;
}

#loader i.fa {
	/*position: fixed;*/
	/*top: 50%;*/
	/*transform: translateY(-50%);*/
	font-size: 3em;
	right: 0; left: 0;
	margin: 0 auto;
	z-index: 2;
	opacity: 0.3;
}

#loader.hide {
	opacity: 0;
	z-index: 0;
}

.load-msg {
	padding-top: 15px;
	font-weight: 700;
	color: rgba(0,0,0,0.4);
}

.loader-spin {
	transform-origin: 50% 50%;
	animation: loaderSpin 0.9s linear infinite;
	animation-fill-mode: forwards;
}

@keyframes loaderSpin {
	0% { transform: rotateZ(0deg); }
	50% { transform: rotateZ(180deg); }
	100% { transform: rotateZ(360deg); }
}

:focus {outline:none;}
::-moz-focus-inner {border:0;}

p {
	color: #666;
	margin-top: 0;
}

.text-aside {
	padding-left: 8px;
	color: #999;
	font-style: italic;
	font-size: 0.8em;
}

.text-italic {
	font-style: italic;
	word-spacing: 4px;
	color: #ccc;
	font-size: 0.9em;
}

a, a:active, a:visited, a:hover {
	color: #333;
	font-weight: 700;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-tap-highlight-color: transparent;

}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
	-moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
  supported by Chrome and Opera */
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-tap-highlight-color: transparent;
}

.dot-blinking {
  animation: dotBlinking 0.8s linear infinite;
  /* opacity: 0; */
}

@keyframes dotBlinking {
  0% { opacity: 0; }
  49% { opacity: 0; }
  50% { opacity: 1; }
  99% { opacity: 1; }
  100% { opacity: 0; }
}

/**************/
/*** HEADER ***/
/**************/

header {
	background: #eef0e3;
	text-align: center;
	position: relative;
	padding-bottom: 8px;
	box-shadow: 0 2px 4px rgba(0,0,0,0.03);
	z-index: 3;
	max-height: 150px;
	transition: max-height 0.2s ease-in-out, opacity 0.5s;
	position: fixed;
	right: 0; left: 0; top: 0;
	overflow: hidden;
	opacity: 1;
}

.fake {
	height: 30px;
	width: 30px;
	box-sizing: border-box;
	overflow: hidden;
	margin: 10px;
}

header.show {
	opacity: 1;
}

header.scroll {
	max-height: 60px;
	padding-bottom: 0;
	box-shadow: 0 2px 6px rgba(0,0,0,0.25);
}

header.scroll nav {
	padding-top: 5px;
	border-bottom: 3px dashed rgba(231, 231, 231, 0);
}

header.scroll h4 {
	opacity: 0;
	/*display: none;*/
}

header.scroll .nav-right {
	/*top: 22px;*/
	transform: translateY(15px);
}

nav {
	padding: 15px 20px 13px;
	font-weight: bold;
	font-size: 1.2em;
	z-index: 2;
	position: relative;
	box-sizing: border-box;
	width: 100%;
	border-bottom: 3px dashed rgba(231, 231, 231, 1);
	overflow: hidden;
	transition: padding 0.2s ease-out;
}

nav > div {
	display: inline-block;
	margin: 0;
}

.nav-right {
	text-align: right;
	position: absolute;
	right: 20px;
	/*top: 60px;*/
	transform: translateY(42px);
	transition: transform 0.2s linear;
}

.clear-fix:after {
	content: " ";
	visibility: hidden;
	display: block;
	height: 0;
	clear: both;
}

nav .link {
	color: #737475;
	font-size: 0.75em;
	letter-spacing: 0.5px;
	text-decoration: underline;
	padding: 7px 10px;
	margin-right: 8px;
	vertical-align: top;
	cursor: pointer;
	/*display: none;*/
}

nav .btn {
	padding: 7px 13px;
	box-sizing: border-box;
	font-size: 0.7em;
	border-radius: 6px;
	border: 2px solid #D7D7D7;
	color: #737475;
	background: #f9f9f9;
	cursor: pointer;
	position: relative;
	bottom: 5px;
	overflow: hidden;
	transform: translateY(0);
	transition: all 0.11s;
}

nav .btn:active:after {
	display: none;
}

nav .btn:hover {
	background: #fff;
	border-color: #d0d0d0;
	/*padding: 7px 16px;*/
	/*margin-right: -3px;*/
}

nav .btn .fa {
	color: #cbcbcb;
	margin-left: 5px;
}

nav .btn:after {
	position: absolute;
	content: '';
	width: 90%;
	height: 5px;
	bottom: 0;
	right: 0; left: 0;
	box-shadow: 0 1px 7px rgba(80, 155, 128, 0.5);
	margin: 0 auto;
	z-index: -1;
}

nav .btn:hover:after {
	box-shadow: 0 1px 8px rgba(40, 115, 80, 0.7);
}

.btn-close {
	font-size: 1.5em;
	float: right;
	cursor: pointer;
	color: rgba(255,255,255,0.7);

	font-size: 1.8em;
	position: absolute;
	cursor: pointer;
	background: rgba(0,0,0,0.4);
	padding: 6px 12px;
	right: 0;
	top: 0;
	z-index: 5;
}

.nav-mid {
	/*width: 100%;*/
	text-align: center;
}

.header-bg-tile {
	background-image: url('../img/assets/confectionary.png');
	position: absolute;
	right: 0; left: 0; top: 0; bottom: 0;
	opacity: 0.47;
	z-index: 1;
}

header h1 {
	/*color: #a897b7;*/
	/*color: #938faa;*/
	position: relative;
	color: #948eba;
	margin: 0;
	font-family: 'Lora', Georgia, serif;
	font-size: 2em;
	letter-spacing: 2px;
	word-spacing: 4px;
}

header h1:after {
	content: '';
	transform: scale(0,1);
	transform-origin: 50% 50%;
	opacity: 0;
	height: 2px;
	background: #948eba;
	transition: all 0.15s ease-out;
	position: absolute;
	bottom: 3px;
	right: 0;
	left: 0;
}

header h1:hover:after {
	transform: scale(1,1);
	opacity: 0.2;
}

h1 a, h1 a:active, h1 a:hover, h1 a:visited {
	text-decoration: none;
	color: #948eba;
}

header h4 {
	font-size: 0.8em;
	font-weight: normal;
	margin: 0;
	color: #b6abab;
	transition: opacity 0.3s;
}

article {
	position: relative;
	max-width: 80%;
	margin: 0 auto;
	display: flex;
	flex-wrap: wrap;
	z-index: 2;
	position: relative;
	padding-top: 110px;
	padding-bottom: 60px;
}

figure {
	padding: 50px 25px 0;
	font-size: 1em;
	width: 33%;
	margin: 0;
	box-sizing: border-box;
	position: relative;
	/*margin-bottom: 20px;*/
	/*display: none;*/
	display: block;
	opacity: 0;
	will-change: auto;
	transform: translateY(-7px);
	transition: all 0.8s;
}

figure.show {
	opacity: 1;
	transform: translateY(0);
	/*display: block;*/
}

figure .img {
	overflow: hidden;
	/*height: 520px;*/
	height: 26vw;
	width: 100%;
	display: block;
	/*background: #999;*/
	background-position: center center;
	background-size: cover;
	position: relative;
	border-radius: 3px;
}

figcaption {
	position: absolute;
	bottom: 8px;
	left: 8px;
	color: #fff;
	opacity: 0;
	/*transition: all 2s 2s;*/
	display: none;
}

figcaption.show {
	opacity: 1;
}

#fig-temp-container, #fig-holder {
	display: none;
}

/*************/
/*** ASIDE ***/
/*************/

aside {
	position: fixed;
	right: 0; bottom: 0; left: 0;
	width: 100%;
	box-sizing: border-box;
	background: rgba(61,73,74,0.98);
	color: #fff;
	z-index: 2;
	transform: translateY(100%);
	transition: all 0.5s, opacity 0.3s;
	opacity: 0;
	max-height: 80%;
	overflow: auto;
	top: 100%;
}

.aside-inner {
	width: 80%;
	max-width: 1000px;
	margin: 0 auto;
	padding: 20px 40px;
	box-sizing: border-box;
}

aside p {
	color: #b7b7b7;
	line-height: 1.4;
}

aside p a, aside p a:active, aside p a:visited, aside p a:hover {
	color: #ddd;
}

aside hr {
	background: rgba(255,255,255,0.1);
	height: 1px;
	border: none;
	margin: 25px 0;
}

aside.show {
	transform: translateY(0);
	opacity: 1;
	top: initial;
	/*top: 0px;*/
}

/*************/
/*** MODAL ***/
/*************/

#modal-upload {
	position: fixed;
	right: 0; top: 0; left: 0; bottom: 0;
	z-index: 0;
	/*display: none;*/
	opacity: 0;
	transition: all 0.3s ease-out;
}

#modal-upload.show {
	z-index: 10;
	opacity: 1;
}

.modal-bg-blur {
	position: fixed;
	background: rgba(0,0,0,0.75);
	right: 0; top: 0; left: 0; bottom: 0;
}

.modal-inner {
	position: absolute;
	top: 50%;
	transform: translateY(-40%);
	right: 0; left: 0;
	margin: 0 auto;
	max-width: 570px;
	background: #eee;
	padding: 35px;
	box-sizing: border-box;
	border-radius: 7px;
	box-shadow: 0 3px 15px rgba(20, 34, 38, 0.5);
	z-index: 11;
	transition: transform 0.4s ease-out;
}

#modal-upload.show .modal-inner {
	transform: translateY(-50%);
}

form {
	text-align: center;
	padding-top: 15px;
}

form input {
	display: block;
	margin: 0 auto 20px;
}

form input[type='file'] {
	margin-bottom: 30px;
}

.input-file {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.input-file-label i.fa {
	font-size: 2.2em;
	margin-bottom: 7px;
}

.input-file + label {
	font-size: 1em;
  color: #6b6b6b;
  display: inline-block;
  background: #ddd;
  border: 3px dashed #b3b3b3;
  padding: 22px 30px;
  margin-bottom: 30px;
}

.input-file:focus + label,
.input-file + label:hover {
  background: #cfcfcf;
  border-color: #aaa;
}

.input-file + label {
	cursor: pointer; /* "hand" cursor */
}

.inputfile:focus + label {
	outline: 1px dotted #000;
	outline: -webkit-focus-ring-color auto 5px;
}

form #ul-i-btn {
	color: #fff;
	border: none;
	padding: 15px 40px 15px 25px;
	background: #7b79d2;
	border-radius: 5px;
	text-transform: uppercase;
	font-size: 1.2em;
	font-weight: bold;
	cursor: pointer;
	border: 2px solid #7573cc;
	position: relative;
	max-width: 250px;
	margin: 0 auto;
	transition: all 0.11s;

	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#977cd6+0,977cd6+13,7b79d2+100 */
background: #977cd6; /* Old browsers */
background: -moz-linear-gradient(top,  #977cd6 0%, #977cd6 13%, #7b79d2 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  #977cd6 0%,#977cd6 13%,#7b79d2 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  #977cd6 0%,#977cd6 13%,#7b79d2 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#977cd6', endColorstr='#7b79d2',GradientType=0 ); /* IE6-9 */


}

form #ul-i-btn:hover {
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#9b83d3+0,9b83d3+13,8281d1+100 */
	background: #9b83d3; /* Old browsers */
	background: -moz-linear-gradient(top,  #9b83d3 0%, #9b83d3 13%, #8281d1 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  #9b83d3 0%,#9b83d3 13%,#8281d1 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  #9b83d3 0%,#9b83d3 13%,#8281d1 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9b83d3', endColorstr='#8281d1',GradientType=0 ); /* IE6-9 */

}

form #ul-i-btn:active {
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#816ab7+0,816ab7+13,6867b2+100 */
background: #816ab7; /* Old browsers */
background: -moz-linear-gradient(top,  #816ab7 0%, #816ab7 13%, #6867b2 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  #816ab7 0%,#816ab7 13%,#6867b2 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  #816ab7 0%,#816ab7 13%,#6867b2 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#816ab7', endColorstr='#6867b2',GradientType=0 ); /* IE6-9 */

	border: 2px solid #6563ae;

}

form #ul-i-btn:after {
	position: absolute;
	content: '';
	z-index: -1;
	width: 89%;
	height: 5px;
	bottom: 0;
	left: 0; right: 0;
	margin: 0 auto;
	transition: all 0.11s;
	box-shadow: 0 2px 7px rgba(17, 39, 24, 0.5);
}

form #ul-i-btn:hover:after {
	box-shadow: 0 2px 7px rgba(17, 39, 24, 0.8);
}

form #ul-i-btn:active:after {
	display: none;
}

form #ul-i-btn i.fa {
	color: #5f649c;
	margin-left: 8px;
	font-size: 1.4em;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	margin-left: 12px;
}

form #ul-i-btn i.fa.loader-spin {
	top: auto;
}

form #ul-i-btn.disabled {
	cursor: not-allowed;
	display: none;
}

/*******************/
/*** PAGINATION ***/
/*******************/

.pagin-ctrl {
	position: fixed;
	top: 50%;
	transform: translateY(-50%);
	box-sizing: border-box;
	padding: 15px 30px;
	font-size: 2em;
	text-align: center;
	cursor: pointer;
	background: rgba(0,0,0,0.1);
	color: rgba(0,0,0,0.15);
	opacity: 0;
	z-index: 0;
	transition: all 0.05s linear;
}

.pagin-ctrl.show {
	opacity: 1;
	z-index: 5;
}

.pagin-ctrl.show:hover {
	background: rgba(0,0,0,0.3);
	color: rgba(255,255,255,0.8);
}

.pagin-ctrl.show:active {
	background: rgba(0,0,0,0.5);
}

#pagin-next {
	right: 0;
}

#pagin-prev {
	left: 0;
}

#page-paw-source {
	display: none;
}

#container-pagin-paw {
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	margin: 0 auto;
	text-align: center;
	padding: 0;
	box-sizing: border-box;
	background: rgba(0,0,0,0.7);
}

#container-pagin-paw a {
	padding: 4px 6px;
	margin: 0 4px;
	cursor: pointer;
	text-decoration: none;
}

#container-pagin-paw a:active {
	background: rgba(0,0,0,0.3);
}

#container-pagin-paw i {
	color: rgba(255,255,255,0.3);
	transition: color 0.7s;
}

#container-pagin-paw i.active {
	color: rgba(255,255,255,0.8);
}

/*OVERPULL*/
#overpull {
  background: #948eba;
  position: fixed;
  bottom: 0;
  height: 1px;
  right: 0;
  left: 0;
  margin: 0 auto;
  color: #fff;
  transition: max-height 2s ease-out;
  height: 100%;
  top: 100%;
  opacity: 0.3;
  z-index: 5;
}

#overpull-msg {
  position: fixed;
  bottom: 0;
  transform: translateY(0);
  right: 0; left: 0;
  margin: 0 auto;
  opacity: 0;
  transition: all 0.3s;
  text-align: center;
  transform: translate(0,0);
  color: #fff;
  z-index: 6;
}

#overpull-msg.show {
  opacity: 1;
  transform: translateY(-14px);
}


/*******************/
/*** MEDIA QUERY ***/
/*******************/

@media (max-width: 1024px) {

	article {
		max-width: 100%;
		padding: 20px;
		padding-top: 120px;
		padding-bottom: 100px;
	}

	figure {
		padding: 20px;
	}

	aside {
		max-height: none;
	}
	
	aside.show {
		top: 104px;
	}

	.aside-inner {
		max-width: 100%;
	}

	#container-pagin {
		position: fixed;
		bottom: 0;
		right: 0;
		left: 0;
		background: rgba(0,0,0,0.4);
		z-index: 5;
	}

	.pagin-ctrl {
		padding: 6px 22px;
		position: relative;
		top: initial;
		transform: none;
		display: inline-block;
		background: rgba(0,0,0,0.5);
		color: rgba(255,255,255,0.8);
		transition: none;
	}

	.pagin-ctrl.show {
		color: rgba(255,255,255,0.8);
	}

	.pagin-ctrl.show:active {
		background: rgba(0,0,0,0.7);
	}

	#pagin-next {
		float: right;
	}

	#pagin-prev {
		float: left;
	}

	#container-pagin-paw {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		padding: 0;
		background: transparent;
	}

}

@media (max-width: 600px) {

	header {
		padding-bottom: 5px;
	}

	header h1 {
		letter-spacing: 0;
		word-spacing: 0;
	}

	nav {
		padding: 8px;
		text-align: left;
		overflow: auto;
	}

	.nav-mid {
		width: auto;
		display: inline-block;
		margin-bottom: 0;
		font-size: 0.85em;
		text-align: left;
	}

	.nav-right {
		right: 10px;
		/*top: 28px;*/
		transform: translateY(28px);
	}

	header.scroll .nav-right {
	  /*top: 16px;*/
	  tranform: translateY(16px);
	}

	nav .link {
		margin-right: 0;
	}

	nav .link:active {
		background: rgba(0,0,0,0.1);
		border-radius: 5px;
	}

	nav .btn {
		background: #fff;
		border-color: #d7d7d7;
	}

	aside.show {
		top: 81px;
	}

	.aside-inner {
		width: 90%;
	}

	.pagin-ctrl {
		padding: 3px 18px;
	}

}

@media (max-width: 550px) {

	figure {
		width: 100%;
		margin-bottom: 0;
	}

	figure .img {
		height: 75vw;
	}

	article {
		padding: 75px 0 60px;
	}

	figure {
		padding: 10px 20px;
	}

	header.scroll {
		padding-bottom: 5px;
	}

	nav {
		padding-bottom: 6px;
	}

	header.scroll nav {
		padding-top: 8px;
		border-bottom: 3px dashed rgba(231, 231, 231, 1);
	}

	header.scroll .nav-right {
	  /*top: 16px;*/
	  transform: translateY(11px);
	}

	.nav-right {
		transform: translateY(11px);
	}

	header h1 {
		font-size: 1.8em;
		line-height: 37px;
	}

	aside.show {
		top: 59px;
	}

	.aside-inner {
		width: 100%;
	}

	header h4 {
		display: none;
	}

	#modal-upload {
		right: initial;
		left: initial;
		bottom: initial;
		transform: none;
		position: fixed;
		height: 90%;
		width: 90%;
		top: 5%;
		right: 0;
		left: 0;
		margin: 0 auto;
		bottom: 0;
		overflow-y: scroll;
		/*background: #eee;*/
	}

	.modal-inner {
		position: relative;
		top: initial;
		right: initial;
		left: initial;
		bottom: initial;
		transform: none;
		border-radius: 0;
		z-index: 3;
	}

	#modal-upload.show .modal-inner {
		transform: none;
	}

	#container-blur.active {
		-webkit-filter: none;
		-ms-filter: none;
		filter: none;
		-moz-filter: none;
		-o-filter: none;
	}

}

@media (max-width: 400px) {

	article {
		padding-top: 60px;
	}

	aside.show {
		top: 60px;
	}

}

@media (max-width: 335px) {
	#btn-about {
		display: none;
	}
}
